name: Tests

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [14, 16, 18, lts/*, current]

    name: Test - ${{ matrix.os }} - Node v${{ matrix.node-version }}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - run: npm --version
      - run: node --version

      - name: Install dependencies
        run: npm ci

      - run: npm run build
      - run: npm test
